<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles-signup.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1><a href="/" class="header-link">IntraView</a></h1>
        </div>
    </header>
    <main class="card">
        <h1>Sign Up</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form action="/signup" method="POST" class="login-form">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="button">Sign Up</button>
        </form>
    </main>
</body>
</html>
